@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
@import "tailwindcss";

* {
	box-sizing: border-box;
	font-family: 'Crimson Text', Times, serif;
	font-weight: 700;
	font-style: normal;
}

body {
	overflow: hidden;
}

.background {
	position: fixed;
	inset: 0;
	background: url('assets/background.png') center/cover no-repeat;
}

.overlay {
	background: #24273a70;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
}

.inner {
	width: 100%;
	max-width: 600px;
	background: #494d64;
	padding: 2.5rem 3rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 12px #363a4f;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#home-label {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #cad3f5;
}

.main-input {
	margin-top: 1rem;
	width: 100%;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border: 2px solid #ccc;
	border-radius: 0.5rem;
	outline: none;
	transition: border-color 0.2s ease;
	background: white;
}

.main-input:focus {
	border-color: #4f46e5;
}

.main-input::placeholder {
	color: #999;
	opacity: 1;
	font-style: italic;
}

.shortcuts {
	margin-top: 0.75rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.shortcuts>a>img {
	max-height: 1rem;
}